# Виртуальное окружение
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
*.log
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
.DS_Store

# Базы данных
*.db
*.sqlite3

# Секреты
.env